*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;   
    color: #283136;
    
    background-color: #ffffff;
}

.centering-wrapper{
    width: 1200px;

    margin: 0 auto;
    padding: 0 20px;
}

.main-container h1{
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;   
    color: #000000;
    text-align: center;

    background-color: #eeeeee;
    min-height: 150px;

    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 50px;
}

.slider-info{
    background-color: #eeeeee;

    margin-bottom: 10px;
}

.slider-container{
    overflow: hidden;
}

.slider-list{
    margin: 0;
    padding: 0;

    list-style: none;


    display: flex;
    transition: .2s;
}

.slider-item{
    min-width: 1200px;
    height: 350px;

    display: flex;
    justify-content: space-between;
}

.slider-text{
    width: 700px;

    padding-top: 50px;
}

.slider-item h3{
    font-size: 55px;
    color: #000000;
    line-height: 55px;
    font-weight: 500;

    width: 730px;

    margin: 0;
    margin-bottom: 28px;    
}

.slider-item p{
    width: 700px;

    margin-bottom: 42px;
}

.slider-img{
    background-image: url("../img/html.png");

    width: 450px;
    height: 330px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin: 0;
    padding: 0;
}

.button{
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    line-height: 18px;
    text-align: center;
    font-weight: 500;

    background-color: #eeeeee;    
    
    border: none;
    border-radius: 2px;
}

.button:hover,
.button:focus{
    background-color: #dfdfdf;
}

.button:active{
    color: rgba(0, 0, 0, 0.3);

    border-top: 3px solid #bfbfbf;

    background-color: #d5d5d5;
}

.visually-hidden:not(:focus):not(:active){
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}